body{
	margin:1%;
	padding:1%;
    font-size:150%;
    background-color: lightblue;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;   
}


.skip a {
    background: #f1f1f1;
    left: 0;
    z-index: 1;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out;
    -webkit-transition: top 1s ease-out;
    padding: 6px;
    color: blue;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

a:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
    
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(58, 32, 118);
    text-align: center;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2em;
    color: rgb(58, 32, 118);
}

h3 {
    font-size: 1em;
    text-align: center;
    color: rgb(58, 32, 118);
}

h4 {
    font-size: 1em;
    text-align: center;
    color: rgb(69, 14, 196);
}
a {
    color: white;
}

nav {
    /* margin: 10px 0; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: rgb(27, 150, 172);
}

nav li {
    /* margin: 10px 0; */
    width: 100%;
    padding-top:15px; 
    padding-bottom: 15px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    list-style-type: none;
    
}

p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* a:focus {
    color: white;
} */
a:visited{
    color:white;
}

.skip a {
    color: blue;
}


#current {
    background-color:rgb(58, 32, 118);
    text-transform: uppercase;
    
}

footer {
    background-color:rgb(27, 150, 172);
    color: white;
    padding: 30px;
    text-align: center;
}

/* fun.html style */

.container{
    max-width: 480px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.grid-gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: center;
    /* grid-template-rows: 300px; */
    }
.grid-gallery img {
    border: 1px solid #341972;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    height: 300px;
  }